/.vs/ProgressionFramework/DesignTimeBuild/
/.vs/ProgressionFramework/
/InheritanceAndPolymorphism/bin/
/InheritanceAndPolymorphism/obj/
/ProgressionFramework/bin
/ProgressionFramework/obj/
/Interfaces/
